<section style="background-color: black;">
	<div id="particles-js"></div>

	<div class="text">
		<h1>Particles Background</h1>
		<p>A demo on how to implement <a target="_blank" href="https://github.com/VincentGarreau/particles.js/">particles.js</a> on Angular V13.</p>
		<div style="display: flex; justify-content: space-around;">
			<button style="background-color: #0969da; color: whitesmoke;" (click)="openUrl('https://github.com/pavanteja90/particles-background')">GitHub</button>
			<!-- <button style="background-color: tomato; color: whitesmoke;" (click)="openUrl('https://particles-background.vercel.app/')">Test Site</button> -->
		</div>
	</div>

	<div style="background-color: whitesmoke; height: 50px; display: flex;	align-items: center; justify-content: space-around;">
		<span>Demo by <a target="_blank" href="https://www.linkedin.com/in/pavan-teja-bhatta/">Pavan Teja Bhatta</a></span>
	</div>
</section>