#particles-js {
	height: 100vh;
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	color: whitesmoke;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
	font-family: "Open Sans", sans-serif;
	background-color: rgba(120, 120, 120, 0.2);
	border-radius: 10px;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
	letter-spacing: -1px;
}

a {
	color: yellowgreen;
}
